name: gee3
on: 
  workflow_dispatch:
  schedule:
    - cron:  '15 0 * * *'

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v1
        with:
          ref: main
      - name: auther
        run: |
          eval 'set +o history' 2>/dev/null || setopt HIST_IGNORE_SPACE 2>/dev/null
          touch ~/.gitcookies
          chmod 0600 ~/.gitcookies
          git config --global http.cookiefile ~/.gitcookies
          tr , \\t <<\__END__ >>~/.gitcookies
          ${{secrets.EECRED}}
          __END__
          eval 'set -o history' 2>/dev/null || unsetopt HIST_IGNORE_SPACE 2>/dev/null
      - name: clone repos
        run: |
          cwd=$(pwd)
          RepoArray=("test" "terra2018" "agu2018" "Dam" "default")
          today=$(date +"%Y-%m-%d")
          cd $cwd
          ls -R -l -a
          for val in ${RepoArray[*]}
            do
              if [ -d "$val" ]; then rm -Rf $val; fi
              ls
              git clone "https://earthengine.googlesource.com/users/sat-io/$val" && rm -rf $val/.git
            done
          cd $cwd
          ls -R -l -a
      - name: commit
        continue-on-error: true
        run: |
              git config --local user.email "action@github.com"
              git config --local user.name "GitHub Action"
              git add -A
              if git diff-index --quiet HEAD; then
                git commit -m "updated datasets ${today}"
              else
                echo "There are no new changes"
              fi
      - name: push changes
        uses: ad-m/github-push-action@v0.6.0
        continue-on-error: true
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
