name: sync from GEEx

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: grant access
        run: |
          eval 'set +o history' 2>/dev/null || setopt HIST_IGNORE_SPACE 2>/dev/null
          touch ~/.gitcookies
          chmod 0600 ~/.gitcookies
          git config --global http.cookiefile ~/.gitcookies
          tr , \\t <<\__END__ >>~/.gitcookies
          ${{secrets.EECRED}}
          __END__
          eval 'set -o history' 2>/dev/null || unsetopt HIST_IGNORE_SPACE 2>/dev/null

      - name: config git
        run: |
          git config http.cookiefile ~/.gitcookies
          git config http.postBuffer 157286400
          git config user.email "githubActionAutoMerge@no-one.com"
          git config user.name "githubActionAutoMerge"
          git config pull.rebase false  

      - name: mirror the git
        run: |
          git pull https://earthengine.googlesource.com/users/sat-io/test master --allow-unrelated-histories || bash -c "git checkout --theirs . ; git add -u ; git commit -m 'autoMerge'"
          git push https://earthengine.googlesource.com/users/sat-io/test master
          git push
